.signup{
    margin-top: 1rem !important;
    width: 600px;
}
.signupbutton  {
    background: #eb3933af !important;
    outline: none !important;
    border: none !important;
    color:rgb(46, 46, 46) !important;
}

.form{
    margin-top: 8rem !important;
}